attrs==20.3.0
coverage==5.3
iniconfig==1.1.1
numpy==1.19.4
opencv-python==4.4.0.46
packaging==20.8
Pillow==8.0.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytesseract==0.3.7
pytest==6.2.1
pytest-cov==2.10.1
strsimpy==0.2.0
toml==0.10.2
